# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.swp
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environment
venv/
ENV/
env/
*.env

# PyInstaller build artifacts
dist/
build/
Output/
*.exe
*.dll
*.so
*.dylib

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Reports
*.pdf

# Backup UI or template files
*.ui~
*.html~
*.qss~
