<table
    cellspacing="0"
    cellpadding="3"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 10px;
        margin-bottom: 20px;
        line-height: 1;
    "
>
    <tbody>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Inventory Date: {{ "%s"|format(store_data.job_datetime) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                Manual Adjustment Report
            </td>
            <td style="font-weight: bold; text-align: right;">
                Page #: 5 of 5
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Date: {{ "%s"|format(store_data.print_date) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(store_data.store_name) }}
            </td>
            <td style="font-weight: bold; text-align: right;"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Time: {{ "%s"|format(store_data.print_time) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(store_data.store_address) }}
            </td>
            <td style="font-weight: bold; text-align: right;"></td>
        </tr>
    </tbody>
</table>
<table
    cellspacing="0"
    cellpadding="5"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 10px;
        color: #000000;
        line-height: 1;
    "
>
    <tbody>
        <tr style="border-bottom: 1px solid black">
            <th style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                EMP_ID
            </th>
            <th style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                ZONE_ID
            </th>
            <th style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                TAG
            </th>
            <th style="width: 20%; text-align: left; display: table-cell; vertical-align: middle;">
                UPC
            </th>
            <th style="width: 15%; text-align: right; display: table-cell; vertical-align: middle;">
                PRICE
            </th>
            <th style="width: 10%; text-align: right; display: table-cell; vertical-align: middle;">
                ORIG_QTY
            </th>
            <th style="width: 10%; text-align: right; display: table-cell; vertical-align: middle;">
                NEW_QTY
            </th>
            <th style="width: 15%; text-align: right; display: table-cell; vertical-align: middle;">
                ADJUSTMENT
            </th>
        </tr>
        {% for emp in emp_data %}
        {% if emp.manual_adjustments %}
        {% for man in emp.manual_adjustments %}
        <tr>
            <td style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(emp.emp_id) }}
            </td>
            <td style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(disc.ZoneID) }}
            </td>
            <td style="width: 10%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(disc.Tag) }}
            </td>
            <td style="width: 20%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(disc.UPC) }}
            </td>
            <td style="width: 15%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(disc.Price) }}
            </td>
            <td style="width: 10%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(disc.CountedQty) }}
            </td>
            <td style="width: 10%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(disc.NewQty) }}
            </td>
            <td style="width: 15%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(disc.LineError) }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>