<table
    cellspacing="0"
    cellpadding="1"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 1;
    "
>
    <tbody>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Inventory Date: {{ "%s"|format(page_headers.inventory_datetime) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                Accuracy Report
            </td>
            <td style="font-weight: bold; text-align: right;">
                Page #: 1 of 2
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Date: {{ "%s"|format(page_headers.print_date) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(page_headers.store) }}
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Time: {{ "%s"|format(page_headers.print_time) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(page_headers.store_address) }}
            </td>
        </tr>
    </tbody>
</table>
<table
    cellspacing="0"
    cellpadding="3"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 12px;
        color: #000000;
        line-height: 1;
    "
>
    <tbody>
        <tr style="border-bottom: 1px solid black">
            <th style="width: 7%; text-align: left; display: table-cell; vertical-align: middle;">
                ID
            </th>
            <th style="width: 28%; text-align: left; display: table-cell; vertical-align: middle;">
                NAME
            </th>
            <th style="width: 12%; text-align: right; display: table-cell; vertical-align: middle;">
                $&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th style="width: 6%; text-align: center; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 6%; text-align: left; display: table-cell; vertical-align: middle;">
                &nbsp;&nbsp;%
            </th>
            <th style="width: 14%; text-align: right; display: table-cell; vertical-align: middle;">
                $&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                QTY
            </th>
            <th style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                UPH
            </th>
        </tr>
        {% for row in results %}
        {% if row.discrepancy_percent >= 2.0 %}
        <tr style="background-color: #ffcccc;">
        {% elif row.discrepancy_percent >= 1.5 %}
        <tr style="background-color: #ffffcc;">
        {% else %}
        <tr>
        {% endif %}
            <td style="width: 7%; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(row.employee_id) }}
            </td>
            <td style="width: 28%; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(row.employee_name) }}
            </td>
            <td style="width: 12%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(row.total_discrepancy_dollars) }}
            </td>
            <td style="width: 6%; text-align: center; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(row.total_discrepancy_tags) }}
            </td>
            <td style="width: 6%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%.2f"|format(row.discrepancy_percent) }}%
            </td>
            <td style="width: 14%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(row.total_price) }}
            </td>
            <td style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(row.total_tags) }}
            </td>
            <td style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(row.total_quantity) }}
            </td>
            <td style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(row.uph) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>