<table
    cellspacing="0"
    cellpadding="6"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 10px;
        color: black;
        line-height: 1;
    "
>
    <tbody>
        <tr>
            <th style="width: 60px; text-align: left; display: table-cell; vertical-align: middle;">
                ID
            </th>
            <th style="width: 200px; text-align: left; display: table-cell; vertical-align: middle;">
                NAME
            </th>
            <th style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 100px; text-align: center; display: table-cell; vertical-align: middle;">
                $
            </th>
            <th style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                %
            </th>
            <th style="width: 100px; text-align: right; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                QTY
            </th>
            <th style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                UPH
            </th>
            <th style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                HOURS
            </th>
        </tr>
        {% for row in results %}
            {% if row.discrepancy_percent >= 2.0 %}
                <tr style="background-color: #ffcccc;">
                    <td style="width: 60px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_id) }}
                    </td>
                    <td style="width: 200px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_name) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_discrepancy_tags) }}
                    </td>
                    <td style="width: 100px; text-align: center; display: table-cell; vertical-align: middle;">
                        ${{ "%.2f"|format(row.total_discrepancy_dollars) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%.2f"|format(row.discrepancy_percent) }}%
                    </td>
                    <td style="width: 100px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_tags) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_quantity) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.uph) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.hours) }}
                    </td>
                </tr>
            {% elif row.discrepancy_percent >= 1.5 %}
                <tr style="background-color: #ffffcc;">
                    <td style="width: 60px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_id) }}
                    </td>
                    <td style="width: 200px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_name) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_discrepancy_tags) }}
                    </td>
                    <td style="width: 100px; text-align: center; display: table-cell; vertical-align: middle;">
                        ${{ "%.2f"|format(row.total_discrepancy_dollars) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%.2f"|format(row.discrepancy_percent) }}%
                    </td>
                    <td style="width: 100px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_tags) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_quantity) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.uph) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.hours) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="width: 60px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_id) }}
                    </td>
                    <td style="width: 200px; display: table-cell; vertical-align: middle;">
                        {{ "%s"|format(row.employee_name) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_discrepancy_tags) }}
                    </td>
                    <td style="width: 100px; text-align: center; display: table-cell; vertical-align: middle;">
                        ${{ "%.2f"|format(row.total_discrepancy_dollars) }}
                    </td>
                    <td style="width: 50px; text-align: center; display: table-cell; vertical-align: middle;">
                        {{ "%.2f"|format(row.discrepancy_percent) }}%
                    </td>
                    <td style="width: 100px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_tags) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%i"|format(row.total_quantity) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.uph) }}
                    </td>
                    <td style="width: 70px; text-align: right; display: table-cell; vertical-align: middle;">
                        {{ "%.1f"|format(row.hours) }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>