<table
    cellspacing="0"
    cellpadding="3"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 10px;
        margin-bottom: 20px;
        line-height: 1;
    "
>
    <tbody>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Inventory Date: {{ "%s"|format(page_headers.inventory_datetime) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                Zone Accuracy Report
            </td>
            <td style="font-weight: bold; text-align: right;">
                Page #: 2 of 3
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Date: {{ "%s"|format(page_headers.print_date) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(page_headers.store) }}
            </td>
            <td style="font-weight: bold; text-align: right;"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: left;">
                Print Time: {{ "%s"|format(page_headers.print_time) }}
            </td>
            <td style="font-weight: bold; text-align: center;">
                {{ "%s"|format(page_headers.store_address) }}
            </td>
            <td style="font-weight: bold; text-align: right;"></td>
        </tr>
    </tbody>
</table>
<table
    cellspacing="0"
    cellpadding="5"
    style="
        width: 100%;
        border-collapse: collapse;
        font-family: Times New Roman;
        font-size: 10px;
        color: #000000;
        line-height: 1;
    "
>
    <tbody>
        <tr style="border-bottom: 1px solid black">
            <th style="width: 7%; text-align: left; display: table-cell; vertical-align: middle;">
                #
            </th>
            <th style="width: 28%; text-align: left; display: table-cell; vertical-align: middle;">
                NAME
            </th>
            <th style="width: 12%; text-align: right; display: table-cell; vertical-align: middle;">
                $&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th style="width: 6%; text-align: center; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 6%; text-align: left; display: table-cell; vertical-align: middle;">
                &nbsp;&nbsp;%
            </th>
            <th style="width: 23%; text-align: right; display: table-cell; vertical-align: middle;">
                $&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                TAGS
            </th>
            <th style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                QTY
            </th>
        </tr>
        {% for zone in team_data %}
        {% if zone.total_quantity > 0 %}
        <tr>
            <td style="width: 7%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(zone.zone_id) }}
            </td>
            <td style="width: 28%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%s"|format(zone.zone_description) }}
            </td>
            <td style="width: 12%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(zone.discrepancy_dollars) }}
            </td>
            <td style="width: 6%; text-align: center; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(zone.discrepancy_tags) }}
            </td>
            <td style="width: 6%; text-align: left; display: table-cell; vertical-align: middle;">
                {{ "%.2f"|format(zone.discrepancy_percent) }}%
            </td>
            <td style="width: 23%; text-align: right; display: table-cell; vertical-align: middle;">
                ${{ "%.2f"|format(zone.total_price) }}
            </td>
            <td style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(zone.total_tags) }}
            </td>
            <td style="width: 9%; text-align: right; display: table-cell; vertical-align: middle;">
                {{ "%i"|format(zone.total_quantity) }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>